body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #d3d3d3; 
    color: #000; 
}

header {
    background-color: #d3d3d3; 
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #e74c3c; 
}

header h2, header p {
    margin: 0;
    color: #000; 
}

header .header-img {
    width: 170px;
    height: auto;
    margin-bottom: 1rem; 
}

nav {
    background-color: #ff6f61; /* Rojo claro */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.nav-links {
    display: flex;
    justify-content: center; 
    gap: 1rem; 
    flex-grow: 1; 
    margin-left: 320px;
}

nav a {
    text-decoration: none;
    color: #fff; /* Blanco */
    font-weight: bold;
}

.user-buttons {
    display: flex;
    gap: 10px;
}

.user-buttons .btn {
    background-color: white;
    color: #007bff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.user-buttons .btn:hover {
    background-color: #0056b3;
    color: white;
}

footer {
    background-color: #ff6f61; 
    color: white;
    text-align: center;
    padding: 2rem 0;
    margin: 0; 
    width: 100%; 
    position: relative; 
    bottom: 0;
}


footer p {
    margin: 0;
    font-size: 1.2rem;
}

.social-media {
    margin-top: 1rem;
}

.social-media a {
    margin: 0 15px; 
}

.social-icon {
    width: 40px; 
    height: auto;
    transition: transform 0.3s ease; 
}

.social-icon:hover {
    transform: scale(1.1); 
}



.content-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.filtro-marcas {
    width: 25%;
}

.marcas-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center; 
}

.marca-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    transition: transform 0.3s ease;
}

.marca-btn:hover {
    transform: scale(1.05);
}

.marca-btn img {
    width: 50px;
    height: auto;
    border-radius: 5px;
}

.marca-btn span {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 5px;
}

.contenido-berlina {
    width: 70%;
}

.contenido-suv {
    width: 70%;
}

.titulo-marca {
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
    color: #333;
}

.coches-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

button.coche-card {
    width: 48%;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    border: 2px solid #e74c3c;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 8px;
}

button.coche-card:hover {
    background-color: #f4f4f4;
    transform: scale(1.05);
}

button.coche-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.coche-card h3 {
    font-size: 20px;
    color: #222;
    margin: 10px 0 5px;
}

.coche-card p {
    font-size: 16px;
    font-weight: bold;
    color: #e74c3c;
}

.nav-back {
    margin-right: 20px;
}

.nav-back .btn {
    background-color: #fff;
    color: #e74c3c;
    font-size: 16px;
    padding: 8px 15px;
    border: 2px solid #e74c3c;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-back .btn:hover {
    background-color: #e74c3c;
    color: #fff;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .user-buttons {
        margin-top: 10px;
    }
}
